<p class="text-center">
  <%= @articles.length == 0 ? "Este usuário ainda não possui artigos" : "" %>
</p>
<% @articles.each do |article| %>
  <div class="row justify-content-md-center">
    <div class="col-8 my-3">
      <div class="card text-center shadow mb-5 rounded">
        <div class="card-header font-italic">
          Por <%= link_to article.user.username, article.user %>
        </div>
        <div class="card-body bg-light">
          <h5 class="card-title"><%= link_to article.title, article, class: "text-success" %></h5>
          <p class="card-text"><%= truncate(article.description, length: 100) %></p>
          <%= link_to "Visualizar", article_path(article), class: "btn btn-outline-success" %>
          <%= link_to "Editar", edit_article_path(article), class: "btn btn-outline-primary" %>
          <%= link_to "Deletar", article_path(article), method: :delete, class: "btn btn-outline-danger" %>
        </div>
        <div class="card-footer text-muted">
          <small>
            Criado há <%= time_ago_in_words(article.created_at) %>, atualizado há <%= time_ago_in_words(article.updated_at) %>
          </small>
        </div>
      </div>
    </div>
  </div>
<% end %>
