<% if @articles.length == 0 %>
  <p class="text-center">
    Este usuário ainda não possui artigos
  </p>
<% end%>
<% @articles.each do |article| %>
  <div class="d-flex justify-content-center">
    <div class="col-8">
      <div class="card text-center shadow mb-5 rounded">
        <div class="card-header font-italic">
          <% if article.user %>
            Por <%= link_to article.user.username, article.user %>
          <% end %>
          <% if article.categories.any? %>
            <div class="mt-2">
              <%= render article.categories %>
            </div>
          <% end %>
        </div>
        <div class="card-body bg-light">
          <h5 class="card-title"><%= link_to article.title, article, class: "text-success" %></h5>
          <p class="card-text"><%= truncate(article.description, length: 100) %></p>
          <%= link_to "Visualizar", article_path(article), class: "btn btn-outline-success" %>
          <% if logged_in? && (article.user == current_user || current_user.admin? ) %>
            <%= link_to "Editar", edit_article_path(article), class: "btn btn-outline-primary" %>
            <%= link_to "Deletar", article_path(article), method: :delete, class: "btn btn-outline-danger", data: {confirm: "Tem certeza que quer excluir este artigo?"} %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>
            Criado há <%= time_ago_in_words(article.created_at) %>, atualizado há <%= time_ago_in_words(article.updated_at) %>
          </small>
        </div>
      </div>
    </div>
  </div>
<% end %>
