<main class="flex-shrink-0" id="page-content" >
  <div class="container" >
    <h1 class="text-center mt-3">Listing all Articles</h1>
    <% @articles.each do |article| %>
      <div class="row justify-content-md-center">
        <div class="col-8 my-3">
          <div class="card text-center shadow mb-5 rounded">
            <div class="card-header font-italic">
              By Lucas-Luke
            </div>
            <div class="card-body bg-light">
              <h5 class="card-title"><%= link_to article.title, article, class: "text-success" %></h5>
              <p class="card-text"><%= truncate(article.description, length: 100) %></p>
              <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
              <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-primary" %>
              <%= link_to "Delete", article_path(article), method: :delete, class: "btn btn-outline-danger" %>
            </div>
            <div class="card-footer text-muted">
              <small>
                Criado h치 <%= time_ago_in_words(article.created_at) %> atr치s, atualizado h치 <%= time_ago_in_words(article.updated_at) %> atr치s
              </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
