<div class="container">
  <%= render 'shared/errors', obj: @user %>
</div>
<div class="form-signin ">
  <%= form_with(model: @user, class: " p-3 mb-5 rounded", local: true) do |f|%>
    <div class="form-floating">
      <% f.label :username, class: "text-light" %>
      <div class="">
        <span>Nome de usuário</span>
        <%= f.text_field :username, class: "form-control rounded", placeholder: "Seu usuário" %>
      </div>
    </div>
    <div class="form-floating">
      <% f.label :email,  class: "text-light" %>
      <div>
        <span>Email</span>
        <%= f.email_field :email, class: "form-control rounded", placeholder: "Seu email" %>
      </div>
    </div>
    <div class="form-floating">
      <% f.label :password,  class: "text-light" %>
      <div>
        <span>Senha</span>
        <%= f.password_field :password, class: "form-control rounded", placeholder: "Sua senha" %>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <%= f.submit class: "w-75 btn btn-outline-dark mt-3"%>
    </div>
  <% end %>
</div>
