<h1 class="mt-3 text-center">Perfil de <%= @user.username %></h1>
<div  class="mx-auto" style="width: 200px;">
  <%= gravatar_for @user, size: 200 %>
</div>
<% if logged_in? && (@user == current_user || current_user.admin?) %>
  <div class="text-center mt-4">
    <%= link_to "Editar Perfil", edit_user_path(@user), class: "btn btn-outline-success" %>
  </div>
<% end %>
<h3 class="my-3 text-center">Artigos</h3>
<%= paginate @articles %>
<%= render 'articles/article' %>
<% unless @articles.length == 1 %>
  <%= paginate @articles %>
<% end %>
<a class="back-to-top text-danger" href="#">➤</a>
