<h1 class="text-center  mt-3">Categoria: <%= @category.name %> </h1>
<% if logged_in? && current_user.admin? %>
  <div class="text-center mt-3 mb-3">
    <%= link_to "Editar Categoria", edit_category_path(@category), class: "btn btn-outline-primary"%>
  </div>
<% end %>
<%= paginate @articles %>
<%= render 'articles/article' %>
<% if @articles.length != 1 %>
  <%= paginate @articles %>
<% end %>
<a class="back-to-top text-light bg-dark" href="#">➤</a>
